# Pretty Urls

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^\.]+)$ $1.php [NC,L]
php_flag display_errors on
php_value upload_max_filesize 200M
php_value post_max_size 200M
php_value max_input_time 300
php_value max_execution_time 300